doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  style.
    body{
    width: 900px;
    margin:auto;
    }
    .logo{
    top: 15px;
    left: 15px;
    position: absolute;
    width:120px;
    height:120px
    }
    h2{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    #inner{
    padding-left: 40px;
    
    }
    h1{
    font-size: 20px;
    }
    #inner-item{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin:10px
    }
    #ii1{
    width:170px;
    margin-right: 30px;
    }
    .grid{
    display:grid;
    grid-template-columns: 160px 160px 160px 120px 130px ;
    grid-column-gap: 0;
    column-gap: 0;
    
    }
    .grid1{
    display:grid;
    grid-template-columns: 210px 130px 50px 50px 80px 210px ;
    grid-column-gap: 0;
    column-gap: 0;
    
    }
    #grid-item{
    border:solid black 1.5px;
    padding:10px;
    text-align: center;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center
    }
  body
    div(style='text-align: center;margin: auto;border-bottom: solid black 1px;padding:10px')
      img.logo(src='https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Iiit-una-logo.png/220px-Iiit-una-logo.png')
      h1 Indain Institute of Information Technology Una
      h1 Himachal Pradesh
      h1(style='font-size: 15px;font-weight: 500;') (An Institute of National Importation Under MHRD)
    h2 Application For Faculty Position
    #inner
      #inner-item
       #ii1 1.Application ID
       span#ref AP2019-12-0001
      #inner-item
        #ii1 2.Position(s) applied for
        span#job Assistant
      #inner-item
        #ii1 2.School(s)
        #school(style='display: flex;flex-direction: column;')
    h2 Personal Information
    #inner
      #inner-item
        #ii1 1.Name
        span#name 
      #inner-item
        #ii1 2.Date of Birth
        span#dob
      #inner-item
        #ii1 3.Sex
        span#sex
      #inner-item
        #ii1 4.Nationality
        span#nationality
      #inner-item
        #ii1 5.Marital Status
        span#martialStatus
      #inner-item
        #ii1 6.Cateogary
        span#category
      #inner-item(style='margin-bottom: 30px;')
        #ii1 7.Correspondence Address
        div(style='width:150px;margin-right: 120px;')#corAddress
      #inner-item
        #ii1 8.Permanent Address
        div(style='width:150px;margin-right: 120px;')#perAddress
      h2 Academic Profile
      div(style='margin:auto;width: min-content;')
        #acad.grid
          #grid-item
            | Degree/Title
          #grid-item
            | Branch/spelization
          #grid-item
            | University/ College
          #grid-item
            | Year Of Complition
          #grid-item
            | CGPA/ Marks
      h2 Academic Exeperience
      div(style='margin:auto;width: min-content;')
        #acadexp.grid1
          #grid-item
            | University/Organization
          #grid-item
            | Desination
          #grid-item
            | from
          #grid-item
            | to
          #grid-item
            | Monthaly Salary
          #grid-item
            | Nature of Duties
      h2(style=";margin-top:200px") Industrial Exeperience
      div(style='margin:auto;width: min-content')
        #indexp.grid1
          #grid-item
            | University/Organization
          #grid-item
            | Desination
          #grid-item
            | from
          #grid-item
            | to
          #grid-item
            | Monthaly Salary
          #grid-item
            | Nature of Duties
    script.
      function addTable(to,data){
      const grid=document.getElementById(to)
      data.map((obj)=>{
      const div = document.createElement('div')
      div.innerHTML=obj.education
      div.id="grid-item"
      grid.appendChild(div)
      const div2 = document.createElement('div')
      div2.id="grid-item"
      div2.innerHTML=obj.subject
      grid.appendChild(div2)
      const div3=document.createElement('div')
      div3.id="grid-item"
      div3.innerHTML=obj.institution
      grid.appendChild(div3)
      const div4=document.createElement('div')
      div4.innerHTML=obj.year
      div4.id="grid-item"
      grid.appendChild(div4)
      const div5=document.createElement('div')
      div5.id="grid-item"
      div5.innerHTML=obj.percentage||"-"
      grid.appendChild(div5)
      })
      }
      
      function addExp(to,data){
      const grid=document.getElementById(to)
      data.map((obj)=>{
      const div = document.createElement('div')
      div.innerHTML=obj.org
      div.id="grid-item"
      grid.appendChild(div)
      const div2 = document.createElement('div')
      div2.id="grid-item"
      div2.innerHTML=obj.designation
      grid.appendChild(div2)
      const div3=document.createElement('div')
      div3.id="grid-item"
      div3.innerHTML=obj.from
      grid.appendChild(div3)
      const div4=document.createElement('div')
      div4.innerHTML=obj.to
      div4.id="grid-item"
      grid.appendChild(div4)
      const div5=document.createElement('div')
      div5.id="grid-item"
      div5.innerHTML=obj.salary
      grid.appendChild(div5)
      const div6=document.createElement('div')
      div6.id="grid-item"
      div6.innerHTML=obj.natureOfDuties
      grid.appendChild(div6)
      })
      }
      function callApi(id){
      //alert("hi")
      let data;
      fetch(`http://localhost:4000/applications/${id}`).then((response)=>
        response.json()
      ).then((dat)=>{
          data=dat.app
          document.getElementById('ref').innerHTML=data.refNum
          document.getElementById('school').innerHTML=data.school
          document.getElementById('name').innerHTML=data.PersonalDetail.name
          document.getElementById('dob').innerHTML=data.PersonalDetail.DOB 
          document.getElementById('sex').innerHTML=data.PersonalDetail.sex 
          document.getElementById('name').innerHTML=data.PersonalDetail.name
          document.getElementById('nationality').innerHTML=data.PersonalDetail.nationality
          document.getElementById('martialStatus').innerHTML=data.PersonalDetail.martialStatus
          document.getElementById('corAddress').innerHTML=data.PersonalDetail.corAddress
          document.getElementById('perAddress').innerHTML=data.PersonalDetail.perAddress
          document.getElementById('category').innerHTML=data.PersonalDetail.category
          fetch(`/jobs/getById/${data.jobId}`).then((res)=>
              res.json()
          ).then(data=>{
               document.getElementById('school').innerHTML=data.job.title
          }).catch((err)=>{
            console.log(err)
          })
          addTable('acad',data.AcadQualifications)
          addExp('acadexp',data.AcadExperiences)
          addExp('indexp',data.IndustryExps)
          window.print()
      }).catch(err=>{
      console.log(err)
      })
      return data
      }
      //alert("j")
      let data=callApi("#{msg}")
      
